<package-def>
    <class name="АктиваторOneScript" file="src/core/Классы/АктиваторOneScript.os"/>
    <class name="АннотацияЛогOVM" file="src/core/Классы/АннотацияЛогOVM.os"/>
    <class name="АппендерЛогOVM" file="src/core/Классы/АппендерЛогOVM.os"/>
    <class name="ВерсииOneScript" file="src/core/Классы/ВерсииOneScript.os"/>
    <class name="ДеинсталляторOneScript" file="src/core/Классы/ДеинсталляторOneScript.os"/>
    <class name="ДетекторОкружения" file="src/core/Классы/ДетекторОкружения.os"/>
    <class name="ДубСПроцессором" file="src/core/Классы/ДубСПроцессором.os"/>
    <class name="ОпределительДистрибутива" file="src/core/Классы/ОпределительДистрибутива.os"/>
    <class name="ПараметрыOVM" file="src/core/Классы/ПараметрыOVM.os"/>
    <class name="ПараметрыПриложения" file="src/core/Классы/ПараметрыПриложения.os"/>
    <class name="ПровайдерДистрибутивовВерсии" file="src/core/Классы/ПровайдерДистрибутивовВерсии.os"/>
    <class name="ПровайдерДистрибутивовСборки" file="src/core/Классы/ПровайдерДистрибутивовСборки.os"/>
    <class name="РаскладкаЛогOVM" file="src/core/Классы/РаскладкаЛогOVM.os"/>
    <class name="УстановщикOneScript" file="src/core/Классы/УстановщикOneScript.os"/>
    <class name="ФабрикаИнтернетСоединения" file="src/core/Классы/ФабрикаИнтернетСоединения.os"/>
    <class name="ФайлНастроек" file="src/core/Классы/ФайлНастроек.os"/>

    <class name="КомандаConfig" file="src/cmd/Классы/КомандаConfig.os"/>
    <class name="КомандаInstall" file="src/cmd/Классы/КомандаInstall.os"/>
    <class name="КомандаList" file="src/cmd/Классы/КомандаList.os"/>
    <class name="КомандаRun" file="src/cmd/Классы/КомандаRun.os"/>
    <class name="КомандаUninstall" file="src/cmd/Классы/КомандаUninstall.os"/>
    <class name="КомандаUse" file="src/cmd/Классы/КомандаUse.os"/>
    <class name="КомандаWhich" file="src/cmd/Классы/КомандаWhich.os"/>
</package-def>
